html {
  font-size:16px;
  @include media-query(1280px) {
    font-size:14px;
  }

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  height:100%;
  overflow-y: scroll;
  @include media-query($bp-mobile) {
    padding-top: 113px;
  }

  &.mobile-menu-open {
    height: 100%;
    overflow: hidden;
  }
}

.wrap {
  max-width: $page-width;
  margin: auto;
  padding: 8rem 2rem 8rem 2rem;
  @include media-query($bp-mobile) {
    padding-top: 2rem;
  }
}

.full-height {
  height: calc(100% - 88px);
}

.v-center {
  position: absolute;
  top: 46%;
  transform: translate(0, -50%);
}