html {
  font-size: 16px;
  @include media-query(1280px) {
    font-size: 14px;
  }

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  overflow-y: scroll;
  padding-top: 120px;
  position: relative;
  min-height: 400px;
  @include media-query($bp-mobile) {
    padding-top: 113px;
  }

  &.mobile-menu-open {
    height: 100%;
    overflow: hidden;
  }
}

@include media-query-min($bp-medium) {
  body, html {
    min-height: 650px;
  }
}

@include media-query-between ($bp-small, $bp-medium) {
  body, html {
    min-height: 600px;
  }
}

@include media-query-between ($bp-mobile, $bp-small) {
  body, html {
    min-height: 600px;
  }
}

.wrap {
  max-width: $page-width;
  margin: auto;
  padding: 4rem 2rem 8rem 2rem;
  @include media-query($bp-mobile) {
    padding-top: 2rem;
  }
}

.full-height {
  height: calc(100% - 88px);
}

.v-center {
  position: absolute;
  top: 46%;
  transform: translate(0, -50%);
  @include media-query-height(780px) {
    top: 50%;
  }
  @include media-query-height(560px) {
    top: 53%;
  }
}

.info {
  text-align: center;
  opacity: .6;
  font-size: 1rem;
}

.mobile-only {
  @include media-query-min($bp-mobile) {
    display: none;
  }
}

canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  //filter: contrast(15%) brightness(178%);
  filter: contrast(0.15) brightness(1.78);
  @include media-query($bp-mobile) {
    filter: contrast(0.15) brightness(1.82);
  }
}

main {
  opacity: 0;
  transition: opacity 300ms;

  &.show {
    opacity: 1;
  }
}

body {
  div#spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    div.asterisk {
      content: " ";
      background-image: url(/img/spinner.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
      transition: opacity 200ms 0s;
      animation: spin 1.5s infinite;
    }
  }

  &.loading {
    div#spinner div.asterisk {
      animation: spin 1.5s infinite, fade-in 1s linear 1.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
