footer {
  & > div {
    max-width: $page-width;
    margin: auto;
    padding: 0 2rem 30px 2rem;
    @include media-query($bp-mobile) {
      padding: 0 2rem 20px 2rem;
    }
  }

  div.grid {
    nav {
      @extend .grid__col;
      @extend .grid__col--10-of-12;
      @extend .grid__col--centered;
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }

  ul {
    margin: 0;
    padding: .7rem 0 0;
    width: 10%;
    min-width: 100px;
    max-width: 130px;
    display: flex;
    justify-content: space-between;

    li {
      display: inline;

      a {
        text-decoration: none;
        opacity: .3;
        transition: opacity 150ms;
        font-size: 1rem;
        @include media-query($bp-mobile) {
          margin-bottom: 0;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main.full-height + footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}