@include font-face("Source Sans Pro", "/fonts/SourceSansPro-Regular");
@include font-face("Source Sans Pro", "/fonts/SourceSansPro-Bold", bold);
@include font-face("Source Sans Pro", "/fonts/SourceSansPro-BoldIt", bold, italic);
@include font-face("Source Sans Pro", "/fonts/SourceSansPro-It", normal, italic);
@include font-face("Source Sans Pro", "/fonts/SourceSansPro-SemiBold", 300);
@include font-face("Source Sans Pro", "/fonts/SourceSansPro-SemiBoldItalic", 300, italic);

* {
  font-family: "Source Sans Pro", "HelveticaNeue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $black;
  outline: none;
}

main p a:not(.no-underline) {
  text-shadow: 0px 1px white, 1px 1px white, -1px 1px white, 2px 1px white, -2px 1px white;
  text-decoration:none;
  box-shadow: inset 0px -2px 0 0px white,
    inset 0 -3px $black;
  transition: color 100ms ease-in-out, box-shadow 100ms ease-in-out;

  &:hover {
    color:black;
    box-shadow: inset 0px -1px 0 0px white,
    inset 0 -2px black;
  }
}

p, h5 {
  font-size: $font-size-copy;
  line-height: $line-height;
  color: $black-copy;
}

h2.claim {
  font-size: $font-size-claim;
  @extend .no-deco;
  @include media-query($bp-mobile) {
    font-size: $font-size-claim * 0.75;
  }
}

.no-deco:after {
    display:none;
}

h2 {
  font-size: $font-size-heading-1;
  margin-bottom: 3rem;
  &:after {
    padding-left:0.5rem;
    content: " —";
  }
  &.with-sub {
    margin-bottom: 1.2rem;
  }
}

h3 {
  &:after {
    padding-left:0.5rem;
    content: " —";
  }
}

h5 {
  margin-top:0;
  font-weight: normal;
}